In [ ]:
import pandas as pd
import os
import json

# Ensure ~/.kaggle directory exists
kaggle_dir = os.path.expanduser("~/.kaggle")
os.makedirs(kaggle_dir, exist_ok=True)

# Hardcode Kaggle API token - IMPORTANT: For production, use Colab Secrets instead of hardcoding.
kaggle_api_token = "something add yours" # Assuming this is the key, excluding the 'KGAT_' prefix
kaggle_username = "something add yours" # Placeholder username as only key was provided.

# Create kaggle.json
kaggle_json_path = os.path.join(kaggle_dir, "kaggle.json")
with open(kaggle_json_path, "w") as f:
    json.dump({"username": kaggle_username, "key": kaggle_api_token}, f)

# Set permissions for kaggle.json
os.chmod(kaggle_json_path, 0o600)

# Download the dataset directly from Kaggle if not present
if not os.path.exists('data.csv'):
    !pip install -q kaggle
    !kaggle datasets download -d shrutibhargava94/india-air-quality-data
    # Unzip the downloaded file, which should be named 'india-air-quality-data.zip'
    !unzip -o india-air-quality-data.zip

# Read the dataset (update filename if needed)
df = pd.read_csv('data.csv', encoding='latin-1')
df.head()

/tmp/ipython-input-1792332193.py:29: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data.csv', encoding='latin-1')

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
0,150.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,1990-02-01
1,151.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,1990-02-01
2,152.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,1990-02-01
3,150.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,1990-03-01
4,151.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,1990-03-01

In [14]:
df.columns

Index(['stn_code', 'sampling_date', 'state', 'location', 'agency', 'type',
       'so2', 'no2', 'rspm', 'spm', 'location_monitoring_station', 'pm2_5',
       'date'],
      dtype='object')

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
df = pd.read_csv('data.csv', encoding='latin-1')

/tmp/ipython-input-182870288.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data.csv', encoding='latin-1')

In [17]:
x = df['no2'].dropna().values

In [18]:
r = 102303737
# Computing ar and br
print("r % 7 =", r % 7)
print("r % 5 =", r % 5)

ar = 0.05 * (r % 7)
br = 0.3 * (r % 5 + 1)

ar, br

r % 7 = 4
r % 5 = 2

(0.2, 0.8999999999999999)

In [19]:
# Apply transformation Step 1
z = x + ar * np.sin(br * x)

In [20]:
# Step 2
# Calculating mean
mu = np.mean(z)
# Calculating Lambda variance
variance = np.mean((z - mu) ** 2)
lambda_ = 1 / (2 * variance)
# c is normalization constant
c = np.sqrt(lambda_ / np.pi)
print("mu =", mu)
print("lambda =", lambda_)
print("c =", c)

mu = 25.804091267939096
lambda = 0.0014593812811420303
c = 0.021553085382354755

In [21]:
z_shuffled = np.random.permutation(z)
mu2 = np.mean(z_shuffled)
var2 = np.mean((z_shuffled - mu2)**2)
lambda2 = 1 / (2 * var2)
c2 = np.sqrt(lambda2 / np.pi)

mu2, lambda2, c2

(np.float64(25.804091267939107),
 np.float64(0.0014593812811420303),
 np.float64(0.021553085382354755))